/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}


/*****************************************************************************/
/*
/* Story
/*
/*****************************************************************************/

article#story  {
    position: relative;
    left: 10em;
    width: 25em;
    height: 100%;
    padding: 1em;
    color: white;
    overflow: scroll;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
}
article#story::-webkit-scrollbar {
    display: none;
}
#story #cover {
    margin-top: 50%;
}
#story #cover #logo {
    display: block;
    margin: 1em auto;
}
#story #cover .scroll {
    float: right;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px 10px;
}
#story section .close {
    float: right;
    color: rgb(128, 128, 128);
}
#story section.active .close {
    cursor: pointer;
}
#story section {
    clear: both;
    margin-bottom: 25px;
    padding: .5em;
    border-radius: 4px;
    color: rgba(128,128,128,0);
    text-shadow: rgba(25,25,25,1) 0px 0px 4px;
    background-color: rgba(255, 255, 255, 0.3);
}
#story section.active {
    color: #eee;
    background-color: rgba(0, 0, 0, 0.5);
}
#story :link, #story :visited {
    color: rgba(128,128,128,0);
    text-shadow: rgba(25,25,25,1) 0px 0px 4px;
}
#story .active :link, #story .active :visited {
    color: rgb(192,192,192);
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
